<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
	<appSettings>
		<add key="ip_address_PLC" value="192.168.0.1"/>
		<add key ="rack" value ="0"/>
		<add key ="slot" value ="1"/>
		<add key="ip_address_API" value=""/>
		<add key="port_API" value=""/>
	</appSettings>
</configuration>